<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.persistence.SysRoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.base.modules.sys.dto.SysRoleResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="resource_type" jdbcType="INTEGER" property="resourceType" />
  </resultMap>

  <sql id="Base_Column_List">
    id, role_id, resource_id, resource_type
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_resource
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.base.modules.sys.dto.SysRoleResource">
    insert into sys_role_resource (id, role_id, resource_id, 
      resource_type)
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{resourceId,jdbcType=INTEGER}, 
      #{resourceType,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.base.modules.sys.dto.SysRoleResource">
    update sys_role_resource
    set role_id = #{roleId,jdbcType=INTEGER},
        resource_id = #{resourceId,jdbcType=INTEGER},
        resource_type = #{resourceType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>